################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/module4_tests/self_check.md
/module4_tests/coveragereport
